{% extends "base.html" %}
{% block header %}
    {{ title }}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
{% endblock %}
{% block container %}
    <table id="boards"></table>
    <div class="hide">
        <div id="task_crl">
            <button class="btn btn-sm btn-primary new" data-toggle="modal" data-target="#detail_modal"
                    style="margin-left: 10px">
                添加
            </button>
        </div>
    </div>
    <div id="detail_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="event">
                        <div class="form-group">
                            <label for="exampleInputEmail1">姓名</label>
                            <input type="text" name="name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">邮箱</label>
                            <input type="email" name="email" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">备注</label>
                            <input type="text" name="comment" class="form-control" id="exampleInputPassword1">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="submit" type="button" data-action="add" class="btn btn-primary event_submit">确定
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endblock %}
{% block script %}
    <script src="/static/js/bootstrap-table.min.js"></script>
    <script src="/static/js/bootstrap-table-zh-CN.min.js"></script>
    <script>
        $('#boards').bootstrapTable({
            url: 'data/',
            striped: true,
            toolbar: '#task_crl',
            search: true,
            toolbarAlign: "right",
            clickToSelect: true,
            sortName: 'id',
            pagination: true,
            pageSize: 15,
            pageList: [15, 'All'],
            columns: [{
                field: 'name',
                title: '姓名',
                align: 'center',
                sortable: true,
            }, {
                field: 'email',
                title: '邮箱',
                align: 'center',
                sortable: true,
            }, {
                field: 'comment',
                title: '备注',
                align: 'center',
                sortable: true,
            }, {
                field: 'operation',
                title: '编辑',
                align: 'center',
                sortable: true,
                formatter: function (e) {
                    return '<i class="far fa-edit edit" role="button"></i> <i class="far fa-trash-alt delete" role="button"></i>'
                },
                events: {
                    "click i.edit": function (e, value, row) {
                        for (v in row) {
                            $('#detail_modal :input[name=' + v + ']').val(row[v]);
                        }
                        $('#detail_modal').modal('show').find('.modal-title').text('编辑邮件');
                        $('#submit').off().click(function () {
                            aperate('edit', row.id)
                        });
                    },
                    "click i.delete": function (e, value, row) {
                        aperate('remove', row.id)
                    },
                }
            }]
        });
        $('#task_crl button').click(function () {
            $('#detail_modal .modal-title').text('添加邮件');
            $('#submit').off().click(function () {
                aperate('add')
            });
        });

        function aperate(action, eid) {
            if (action != 'remove' && !$('#event')[0].reportValidity())
                return;
            $.post('data/?action=' + action + '&eid=' + eid, $('#event').serializeArray(), function (data) {
                if (action != 'remove')
                    $('#detail_modal').modal('hide');
                $('#boards').bootstrapTable('load', data)
            }, 'json');
        }
    </script>
{% endblock %}
